{% raw %}
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>File Not Found</h1>
    <p><a href="/index">index</a></p>

    <p>File not found</p>
{% endblock %}
{% endraw %}
