{% raw %}
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>An unexpected error has occurred</h1>
    <p>Sorry for the inconvenience!</p>
    <p><a href="/index">index</a></p>
{% endblock %}
{% endraw %}
