{% raw %}
<html>

{% block base %}

<head>
{% endraw %}
	<title>{{cookiecutter.repo_name}}</title>
{% raw %}
	{% assets "common_css" %}
		<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
	{% endassets %}

	{% block css %}
	{% endblock %}
</head>

<body>
{% block content %}
{% endblock %}

{% assets "common_js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% block js %}
{% endblock %}

</body>

{% endblock %}
</html>
{% endraw %}
