{% raw %}
{% extends "base.html" %}

{% block content %}
{% endraw %}
<p>{{cookiecutter.app_name}} is online </p>
<p>websocket status: <span><p id="socketStatus">connecting...</p></span></p>

{%- if cookiecutter.camera_stream.lower() == 'y' -%}
{% raw %}
<div id="viewer">
	<img src="{{ url_for('base_view.video_feed') }}">
	<div id="button_container">
		<a id="frame_button" class="btn btn-info" href="/frame" role="button" title="Get a still frame from the feed">get frame</a>
	</div>
</div>
{% endraw %}
{% endif %}
{% raw %}
{% endblock %}




{% block js %}

{% assets "index_js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}
{% endraw %}
